{% extends 'base.html' %}
{% block title %} Bienvenido! {% endblock %}
{% block content %}
    <h1> Bienvenido a django templates</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus exercitationem, sint quisquam beatae quasi dicta, laborum atque recusandae animi, dolores porro provident impedit hic aliquid aliquam esse quaerat corrupti possimus.
        Aliquam quod sed, tempore iste officia porro dolores maxime vero vitae, voluptas ullam quas obcaecati quam praesentium. Praesentium voluptatum expedita quidem accusantium, quas quod fuga asperiores nulla molestiae ratione placeat!
        Quibusdam sit natus pariatur dolor soluta. Voluptatem voluptates veritatis ad, praesentium quisquam, voluptate est expedita temporibus inventore exercitationem rerum voluptatum atque mollitia voluptas quos aspernatur facere. Corporis eligendi quasi perferendis.
        Eligendi accusantium tempore aliquam quibusdam labore corporis, rerum pariatur ipsa natus a dignissimos excepturi neque nesciunt possimus ad est, dolorum consequuntur officia aut quod magni provident odit rem iusto? Sint?
        Laborum dolor ratione aliquam asperiores maiores tempora cupiditate minima inventore obcaecati, optio fuga blanditiis accusamus facere recusandae? Ex reiciendis odio ea sint et, iure voluptatem, at ipsum, atque numquam dolore.
        Dolor ex rem assumenda laborum ullam minus, exercitationem praesentium tempora quaerat esse vitae provident, eligendi ab fugit? Harum repudiandae earum minima velit, nulla nam ab? Temporibus eveniet dolorum iure laborum!
        Modi unde voluptates animi fugit enim cumque ipsam ullam fugiat. Atque quos deserunt ipsa ducimus odio voluptatibus modi dolor eaque praesentium ipsam veritatis alias nisi consequuntur, dicta optio cupiditate voluptate.
        Ut, repellendus alias corrupti quasi, similique temporibus facilis blanditiis laboriosam rerum incidunt, inventore dolorem asperiores rem ducimus nobis. Officia voluptate cumque voluptas numquam, laboriosam vitae excepturi perferendis dolorum ratione aliquid.
        Quod animi doloremque amet non aliquam ipsum aspernatur dolores numquam, iure praesentium aperiam voluptates neque repudiandae eos incidunt in magni soluta, nobis sint fuga. Voluptatum nam error reprehenderit qui quas.
        Quos accusantium voluptate voluptates porro nostrum odio, optio reprehenderit ipsum nisi. Fugiat odit ad dicta placeat unde, quae consectetur porro. Distinctio autem inventore qui excepturi reprehenderit doloremque voluptatum iure neque.
    </p>
{% endblock %}